@charset "UTF-8";
/* CSS Document */

/* Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap');

/* Início */

body{
    font-family: 'Montserrat', sans-serif;

    background-image: url(../images/bg01.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top;

    background-attachment: fixed;
}

.bgBanner{

}

.txtBanner01{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.2em;
}

.txtBanner02{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.8em;
    font-weight: 900;
}

.mTop{
    margin-top: 25%;
    margin-bottom: 5%;
}

.bgBarraMarcas{
    background-color: #fafafa;
    padding: 1% 0;
}

.bgMobileBlock, .bgEmpresa03{
    background-image: url(../images/stars.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bgMobileBlockGray{
    background-image: url(../images/stars.png);
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.mTop02{
    margin-top: 10%;
    margin-bottom: 5%;
}

.txtWhos{
    color: #582480;
    font-size: 2em;
    font-weight: 900;
}

.mTop3{
    margin-top: 7%;
}

.txtFuturo{
    text-align: center;
    color: #fff;
    font-size: 3em;
    font-weight: 900;
    padding: 3% 0;
    text-transform: uppercase;
}

.tituloSolucoes, .txtFooter01{
    color: #582480;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 8%;
}

.blocoSolucoes{
    background-color: #652c90;
    border-radius: 8px;

    padding-top: 80px;
    padding-bottom: 30px;

}

.txtSolucoes{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 10%;
}

.btn-primary{
    background-color: transparent;
    border: 2px #fff solid;
    border-radius: 10px;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: transparent;
    border-color: #ccc;
    color: #ccc;
}

.txtFooter01{
    text-align: left;
}

.txtFooter02{
    color: #582480;
    font-size: 1.5em;
    line-height: 18px;
}

.txtFooter02 a{
    color: #582480;
    text-decoration: none;
    font-weight: 700;
}

.txtFooter02 a:hover{
    color:#ccc;
}

.txtFooter03{
    color: #582480;
    font-weight: 700;
    font-size: 1.5em;
}

.mSocial{
    margin-top: 2%;
}

.form{
    background-color: #582480;
    border-radius: 8px;
    padding: 10%;
}

.btnAlign {
    text-align: center;
}

.bgRodape{
    background-color: #582480;
}

.pRodape{
    padding-top: 3%;
    padding-bottom: 2%;
}

.txtRodape{
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
}

.navbar-brand {
    height: 150px;
}

.navbar-default {
    background-color: transparent;
    height: 150px;
}


.navbar {
    border-radius: 0px;
    border: 0px solid;
    border-bottom: #fff solid 1px;
}

.nav {
    margin-top: 3%;
    font-size: 1.2em;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ccc;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


@media (max-width: 575.98px) { 
    .navbar-default {
        background-color:#582480;
        height: 210px;
    }

    .nav {
        margin-top: 3%;
        font-size: 1.2em;
        background-color: #582480;
        z-index: 500;
    }
 }


@media (min-width: 576px) and (max-width: 767.98px) { 
    .navbar-default {
        background-color: #582480A;
    }

    .nav {
        margin-top: 3%;
        font-size: 1.2em;
        background-color: #582480;
        z-index: 500;
    }
 }


/* A One Station Media */

h1{
    color: #fff;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 900;
}

.pH1{
    padding: 5% 0;
}

.bgEmpresa01{
    background-image: url(../images/stars.png);
    background-color: #fff;
    background-size: 1920px;
    background-position: center top;
}

.bgEmpresa02{
    background-image: url(../images/bgEmpresa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.txtEmpresa01{
    font-size: 1.2em;
}

.txtEmpresa02{
    font-size: 2.2em;
    font-weight: 900;
    color: #fff;
}

.txtEmpresa03{
    font-size: 1.8em;
    color: #582480;
    font-weight: 700;
}

.mTop4{
    margin-top: 15%;
}

/* Nossas Soluções */

.titulos, .titulosCenter{
    color: #582480;
    font-weight: 900;
    margin-bottom: 5%;
    text-transform: uppercase;
}

.bgSolucoes01{
    background-image: url(../images/bgSolucoes01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.txtSolucoes01{
    color: #fff;
    font-size: 1.3em;
}

.titulosCenter{
    text-align: center;
}

.txtSolucoes02{
    text-align: center;
    font-size: 1.3em;
}

.resultado{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 900;
}

.txtSolucoes03{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 700;
}

/*
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/